### venv ###
bin/
include/
lib/
pyvenv.cfg

### ides ###
.idea/
.vscode/

### pyjunk ###
**/__pycache__/
**.egg-info
build/
testdb

### secrets ###
*.properties
!default.properties
!test.properties

.python-version
Scripts